{
  "extends": "airbnb-base",
  "rules": {
    "implicit-arrow-linebreak": "off",
    "function-paren-newline": "off",
    "arrow-parens": "off",
    "comma-dangle": "off",
    "generator-star-spacing": "off",
    "indent": "off",
    "max-len": "off",
    "quotes": "off"
  }
}
